{{!-- app/templates/components/omxNews.hbs --}}

<div class="omx-wrapper">
    <div class="omx-head">
        {{articleModel.headline}}
    </div>
    <div class="omx-time">
        {{articleModel.date}}
    </div>
    <div class="omx-body">
        {{articleModel.article}}
    </div>
</div>

