{{!-- app/templates/components/summary-component.hbs --}}

<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 navbar-brand red-text histogram-title"> Date Histogram </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-12 date-histogram"></div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4 col-offset-xs-4 navbar-brand red-text histogram-title"> SIC Histogram </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-12 sic-histogram"></div>
</div>
