{{!-- app/templates/components/toggle-switch.hbs --}}

<label for={{checkBoxId}}>
    {{label}}
    <input class="toggle-switch" id={{checkBoxId}} type="checkbox" checked={{checked}}>
    <div class="switch"></div>
</label>
