nodesec.xcworkspace/
server/node/node_modules/
web/js/dist/
web/templates/dist/
web/css/style.less.css
web/templates/dist/templates.js
web/css/dist/
node_modules/
server/node/*config.json
web/config/
