{{!-- web/templates/omxNews.hbs --}}

<div class="omx-wrapper">
    Something
    <div class="omx-head">
        {{model.headline}}
    </div>
    <div class="omx-time">
        {{model.date}}
    </div>
    <div class="omx-body">
        {{model.article}}
    </div>
</div>
