{{!-- web/templates/_uniqueRecords.hbs --}}


<table id="uniqueRecords" class="display" width="100%"></table>

{{!-- {{table-component
    content=tableContent
    columns=tableColumns
    hasFooter=false
    }}--}}
