        <div class="container-fluid">
            {{partial "mainnavbar"}}
            <div style="position:absolute; top:75px; width:100%;">
                {{outlet}}
            </div>
        </div>
