{{!-- web/templates/associates.hbs --}}

<span class="centered">
    <h3>
        {{#if isLoading}}
            <span class="centered"> - Loading - </span>
        {{else}}
            Known Associates
        {{/if}}
        
        {{#if noData}}
            <span class="centered"> - No network data available - </span>
        {{/if}}
    </h3>
</span>
        
{{view App.AssociatesView data=this}}

<table id="associates-table" class="display"></table>
