{{!-- web/templates/board.hbs --}}


    <div class="col-xs-12" id="techan-wrapper">
        <div id="time-chart" class="chart"></div>
    </div>

<div class="charts-wrapper">
    <div class="col-xs-6" id="gauge-timeline-cell">
        <div class="timeline-panel" id="timeline">
            {{#each topX}}
                <div class="col-xs-3">
                    <div id='gauge-{{this}}' class="gauge chart"></div>
                </div>
                <div class="col-xs-9 ts chart" id="ts-{{this}}" {{action "topXClicked" this}}>
                    <span class="title"></span>
                    <div class="count-wrapper pull-right">
                        <span class="before"></span> |
                        <span class="during"></span> |
                        <span class="after"></span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div id="forum-posts-cell">
        {{forum-posts postFilteredData splitByFilter}}
    </div>
</div>
