{{!-- web/templates/delinquency.hbs --}}

{{!-- Late Filing History --}}
<span class="centered">
    {{#if model}}
        <h3>Late Filings</h3>
        {{table-component
            content=tableContent
            columns=tableColumns
            hasFooter=false
            forceFillColumns=true
        }}
    {{else}}
        <h4> This company has not provided it's financials the the SEC's XBRL format. </h4>
    {{/if}}
</span>
