{{!-- web/templates/details.hbs --}}

<div class="container hundred-width">
    <div class="row-fluid">
        <nav class="navbar navbar-border">
            <div class="col-sm-6">
                <h1 class="zero-top-margin"> {{name}} </h1>
            </div>
            <div class="col-sm-2">
                <span class="centered">
                    <h4> {{ticker}} </h4>
                </span>
            </div>
            <div class="col-sm-2">
                <span class="centered">
                    <h4 class="greyed">  CIK: {{cik}} </h4>
                </span>
            </div>
            <br />
            <ul class="nav navbar-nav" id="view-selector">
                <li>{{#link-to 'board'     }} Price / Volume Anomalies + <br /> CROWDSAR {{/link-to}}</li>
                <li>{{#link-to 'topNews'  }} News                                     {{/link-to}}</li>
                <li>{{#link-to 'financials'  }} Financials                               {{/link-to}}</li>
                <li>{{#link-to 'delinquency' }} Late <br /> Filings                        {{/link-to}}</li>
                <li>{{#link-to 'previousReg' }} Regulatory <br /> Actions                  {{/link-to}}</li>
                <li>{{#link-to 'associates'  }} Network <br /> Analysis                    {{/link-to}}</li>
                <li>{{#link-to 'promotions'  }} Stock Promotions                         {{/link-to}}</li>
                <li>{{#link-to 'leadership'  }} Leadership                               {{/link-to}}</li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-sm-12 col-sm-12-no-padding">
    {{outlet}}
</div>
