<td style="color:grey;">
    <i class="fa fa-square-o fa-1x" style="color:grey"></i>
</td>

<td style="color:grey;">
    {{view.text}}
</td>

{{#if view.showParameters}}
    <td class="dropdown-button-grey">
        Customize
    </td>
{{/if}}
