{{!-- web/templates/dropdown.hbs --}}

<div class="row-fluid" id="div-dropdown">
    <div class="col-md-7">
        <form>
            {{partial "dropdown-left"}}
        </form>
    </div>
    <div class="col-md-5">
        {{partial "dropdown-right"}}
    </div>
</div>
