{{!-- web/templates/financials.hbs --}}
{{!-- Financials --}}

<span class="centered">
    {{#if model}}
        <h3>Financials</h3>
        {{table-component
            contentBinding=tableContent
            columnsBinding=tableColumns
            }}
    {{else}}
        <span class="centered">
            <h4> This company has not provided it's financials the the SEC's XBRL format. </h4>
        </span>
    {{/if}}
</span>
