{{!-- web/templates/hittextview.hbs --}}

{{#if view.have}}
    <div {{bind-attr id=view.mid class="view.flagged:flagged:not-flagged view.first_column:first_column:second_column"}}>
        <div class="float-left"> {{view.text}} </div>
        <div class="float-right"> {{view.value}} </div>
    </div>
{{/if}}
