{{!-- web/templates/hittextview.hbs --}}

{{!-- {{#if view.have}}
    <td {{bind-attr id=view.mid class="view.flagged:flagged:not-flagged view.first_column:first_column:second_column"}}>
       {{view.value}}
    </td>
{{/if}}
 --}}
 
{{!-- <div {{bind-attr id=view.mid }}>
    
</div> --}}