{{!-- web/templates/pvChart.hbs --}}
{{!-- Price and Volume Chart --}}

<span class="centered">
    <h3> Price / Volume / CROWDSAR Chart </h3>
</span>

<div>
    <div id="container-pvchart"></div>
</div>

<p>
    CROWDSAR is a proprietary score that quantifies the prevalence of allegations of fiscal malfeasance
    for the company on investor message boards and social media.
</p>