    <label for="{{unbound view.checkBoxId}}">
        {{view.label}}
        <input id="{{unbound view.checkBoxId}}" type="checkbox" {{bind-attr checked="view.checked"}}>
        <div class="switch" style="width:60px;"></div>
    </label>
