{{!-- app/templates/sidebar/detail/financials.hbs --}}

<span class="centered">
    <h3>Financials</h3>
    <table class="table table-striped table-bordered" id="financials-table" class="display"></table>
    {{financials-component tableCik=model}}
</span>
