{{!-- web/templates/omxNews.hbs --}}

<div class="omx-wrapper">
    Something
    <div class="omx-head">
        {{headline}}
    </div>
    <div class="omx-time">
        {{date}}
    </div>
    <div class="omx-body">
        {{article}}
    </div>
</div>
