{{!-- web/templates/toggle-switch.hbs --}}

<label for="{{unbound view.checkBoxId}}">
    {{view.label}}
    <input id="{{unbound view.checkBoxId}}" type="checkbox" {{bind-attr checked="view.checked"}}>
    <div class="switch"></div>
</label>
